@import 'tailwindcss';
@plugin 'tailwind-scrollbar';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border min-h-0 min-w-0 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted;
  }

  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --hue: 220;
  --saturation: 100%; 
  --lightness: 99.41%;

  --background: hsl(var(--hue) var(--saturation) var(--lightness));
  --foreground: hsl(var(--hue) 20.25% 30.98%);
  --card: hsl(var(--hue) 100% 99.41%);
  --card-foreground: hsl(var(--hue) 20.25% 30.98%);
  --popover: hsl(var(--hue) 100.00% 98.43%);
  --popover-foreground: hsl(var(--hue) 20.25% 30.98%);
  --primary: hsl(var(--hue) 44.13% 35.10%);
  --primary-foreground: hsl(var(--hue) 25.00% 98.43%);
  --secondary: hsl(var(--hue) 47.37% 96.27%);
  --secondary-foreground: hsl(var(--hue) 20.22% 34.90%);
  --muted: hsl(var(--hue) 48.57% 93.14%);
  --muted-foreground: hsl(var(--hue) 10.83% 47.06%);
  --accent: hsl(var(--hue) 53.85% 97.45%);
  --accent-foreground: hsl(var(--hue) 47.13% 17.06%);
  --destructive: hsl(var(--hue) 70.09% 58.04%); 
  --destructive-foreground: hsl(var(--hue) 0% 98.04%); 
  --border: hsl(var(--hue) 40.00% 88.24%);
  --input: hsl(var(--hue) 40.00% 88.24%);
  --ring: hsl(var(--hue) 17.10% 62.16%);
  --chart-1: hsl(var(--hue) 70.20% 50%); 
  --chart-2: hsl(var(--hue) 64.71% 40%); 
  --chart-3: hsl(var(--hue) 39.87% 30%); 
  --chart-4: hsl(var(--hue) 59.80% 60%); 
  --chart-5: hsl(var(--hue) 60% 54.90%); 
  --sidebar: hsl(var(--hue) 0% 98.43%); 
  --sidebar-foreground: hsl(var(--hue) 0% 14.51%); 
  --sidebar-primary: hsl(var(--hue) 0% 20.39%); 
  --sidebar-primary-foreground: hsl(var(--hue) 0% 98.43%); 
  --sidebar-accent: hsl(var(--hue) 0% 96.86%); 
  --sidebar-accent-foreground: hsl(var(--hue) 0% 20.39%); 
  --sidebar-border: hsl(var(--hue) 0% 92.16%); 
  --sidebar-ring: hsl(var(--hue) 0% 70.98%); 

  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --saturation: 30.00%;
  --lightness: 3.92%;

  --background: hsl(var(--hue) var(--saturation) var(--lightness));
  --foreground: hsl(var(--hue) 21.74% 90.98%);
  --card: hsl(var(--hue) 29.03% 6.08%);
  --card-foreground: hsl(var(--hue) 21.74% 90.98%);
  --popover: hsl(var(--hue) 30.00% 3.92%);
  --popover-foreground: hsl(var(--hue) 51.11% 91.18%);
  --primary: hsl(var(--hue) 100% 90.98%);
  --primary-foreground: hsl(var(--hue) 22.22% 3.53%);
  --secondary: hsl(var(--hue) 31.25% 6.27%);
  --secondary-foreground: hsl(var(--hue) 51.11% 91.18%);
  --muted: hsl(var(--hue) 26.03% 14.31%);
  --muted-foreground: hsl(var(--hue) 24.30% 58.04%);
  --accent: hsl(var(--hue) 36.36% 4.31%);
  --accent-foreground: hsl(var(--hue) 51.11% 91.18%);
  --destructive: hsl(var(--hue) 62.82% 30.59%); 
  --destructive-foreground: hsl(var(--hue) 51.11% 91.18%);
  --border: hsl(var(--hue) 19.40% 13.14%);
  --input: hsl(var(--hue) 19.40% 13.14%);
  --ring: hsl(var(--hue) 0% 83.14%); 
  --chart-1: hsl(var(--hue) 69.61% 40%); 
  --chart-2: hsl(var(--hue) 50.22% 44.90%); 
  --chart-3: hsl(var(--hue) 60% 54.90%); 
  --chart-4: hsl(var(--hue) 74.78% 45.10%); 
  --chart-5: hsl(var(--hue) 70.31% 44.90%); 
  --sidebar: hsl(var(--hue) 0% 20.39%); 
  --sidebar-foreground: hsl(var(--hue) 0% 98.43%); 
  --sidebar-primary: hsl(var(--hue) 69.61% 40%);
  --sidebar-primary-foreground: hsl(var(--hue) 0% 98.43%); 
  --sidebar-accent: hsl(var(--hue) 0% 27.06%); 
  --sidebar-accent-foreground: hsl(var(--hue) 0% 98.43%); 
  --sidebar-border: hsl(var(--hue) 0% 27.06%); 
  --sidebar-ring: hsl(var(--hue) 0% 43.92%); 

  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
